.vs/

# Executables
*.exe
*.out
*.app

# VS Code
*.vscode

# working directory
working/
.modcache/

# Visual SlickEdit projct files
*.vtg
*.vpj
*.vpw
*.vpwhist

# anno rda reference file -- too large to track
config.rda/

